name: Continious Integration

on:
  pull_request:
    branches: [ "main" ]

jobs:

  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: './go.mod'
        
    - name: Install Staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Build project
      run: go build -v ./...

    - name: Verify Code Quality
      run: go vet ./... && staticcheck ./...
