name: Continious Integration

on:
  pull_request:
    branches: ["main"]

jobs:
  verify:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "./go.mod"

      - name: Install Staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Build project and verify dependencies
        run: go build -v ./... && go mod verify #

      - name: Verify Code Quality
        run: go vet ./... && staticcheck ./...
